---
import BaseLayout from '../layouts/BaseLayout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Divider from '../components/Divider.astro';
import TopicChip from '../components/TopicChip.astro';
---

<BaseLayout
	title={`${SITE_TITLE} - Publications`}
	description={SITE_DESCRIPTION}
>
	<section
		class='prose prose-invert md:prose-lg mx-auto prose-a:text-[color:var(--accent)]'
	>
		<h1>Publications</h1>
		<p class='italic'>Note: <u>Underline</u> denotes equal contribution.</p>
		<Divider />
		<h2>Journals</h2>
		<h3>2024</h3>
		<ol>
			<li>
				<p>
					Gunt Chanmas, <strong>Pittawat Taveekitworachai</strong>, Xiao You,
					Ruck Thawonmas, Chakarida Nukoolkit, and Piyapat Dajpratham, "<a
						href='https://www.cell.com/heliyon/fulltext/S2405-8440(24)11972-X'
						target='_blank'
						>Driving Assistant Using Generative AI Pre-generated Messages in
						Simulator-Based Driving Assessment: A Step Towards Low-Cost
						Simulator-Based Driving Assessment</a
					>." Heliyon Vol. 10, Issue 16, E35941 (2024).
				</p>
				<div class='flex flex-wrap gap-2'>
					<TopicChip topic='Simulator-based Driving Assessment' />
					<TopicChip topic='Post-Stroke Driving' />
					<TopicChip topic='Large Language Models' />
					<TopicChip topic='Vector Database' />
					<TopicChip topic='Efficient LLMs' />
				</div>
			</li>
			<li>
				<p>
					<strong>Pittawat Taveekitworachai</strong>, Gunt Chanmas, Pujana
					Paliyawan, Ramita Thawonmas, Chakarida Nukoolkit, Piyapat Dajpratham,
					and Ruck Thawonmas, "<a
						href='https://www.cell.com/heliyon/fulltext/S2405-8440(24)08961-8'
						target='_blank'
						>A Systematic Review of Major Evaluation Metrics for Simulator-Based
						Automatic Assessment of Driving after Stroke</a
					>." Heliyon Vol. 10, Issue 12, E32930 (2024).
				</p>
				<div class='flex flex-wrap gap-2'>
					<TopicChip topic='Simulator-based Driving Assessment' />
					<TopicChip topic='Post-Stroke Driving' />
				</div>
			</li>
			<li>
				<p>
					Febri Abdullah, <strong>Pittawat Taveekitworachai</strong>, Mury F.
					Dewantoro, Ruck Thawonmas, Julian Togelius, and Jochen Renz. "<a
						href='https://ieeexplore.ieee.org/abstract/document/10470422'
						target='_blank'>The 1<sup>st</sup> ChatGPT4PCG Competition</a
					>." IEEE Transactions on Games (2024).
				</p>
				<div class='flex flex-wrap gap-2'>
					<TopicChip topic='Large Language Models' />
					<TopicChip topic='Prompt Engineering' />
					<TopicChip topic='Procedural Content Generation' />
					<TopicChip topic='Level Generation' />
					<TopicChip topic='LLM Evaluation' />
				</div>
			</li>
		</ol>
		<h3>2023</h3>
		<ol>
			<li>
				<p>
					Gunt Chanmas, <strong>Pittawat Taveekitworachai</strong>, Pujana
					Paliyawan, Ramita Thawonmas, Ruck Thawonmas, Chakarida Nukoolkit, and
					Piyapat Dajpratham. "<a
						href='https://www.tandfonline.com/doi/full/10.1080/10749357.2023.2165273'
						target='_blank'
						>Driving scenarios and environmental settings in simulator-based
						driving assessment systems for stroke: a systematic review</a
					>." Topics in stroke rehabilitation 30.8 (2023): 872-880.
				</p>
				<div class='flex flex-wrap gap-2'>
					<TopicChip topic='Simulator-based Driving Assessment' />
					<TopicChip topic='Post-Stroke Driving' />
				</div>
			</li>
		</ol>
		<Divider />
		<h2>Conferences</h2>
		<h3>2024</h3>
		<ol>
			<li>
				<p>
					[🏆 Best Paper Award] Pratch Suntichaikul, <strong
						>Pittawat Taveekitworachai</strong
					>, Chakarida Nukoolkit, and Ruck Thawonmas, "Temporal Collage
					Prompting: A Cost-Effective Simulator-Based Driving Accident Video
					Recognition With GPT-4o." <em>Accepted at</em>
					<a href='https://dit.rsu.ac.th/incit2024/en/' target='_blank'
						>2024 8th International Conference on Information Technology</a
					>. 2024.
				</p>
				<div class='flex flex-wrap gap-2'>
					<TopicChip topic='Temporal Collage Prompting' />
					<TopicChip topic='Large Multimodal Models' />
					<TopicChip
						topic='Simulator-Based Driving Accident Video Recognition'
					/>
				</div>
			</li>
			<li>
				<p>
					🌟 <strong>Pittawat Taveekitworachai</strong>, Febri Abdullah, and
					Ruck Thawonmas, "<a
						href='https://aclanthology.org/2024.emnlp-main.740/'
						target='_blank'
						>Null-Shot Prompting: Rethinking Prompting Large Language Models
						With Hallucination</a
					>." In Proceedings of the 2024 Conference on Empirical Methods in
					Natural Language Processing, pages 13321–13361, Miami, Florida, USA.
					Association for Computational Linguistics. [<a
						href='https://github.com/Pittawat2542/null-shot-prompting'
						target='_blank'>Code</a
					>, <a
						href='https://github.com/Pittawat2542/null-shot-results'
						target='_blank'>Data</a
					>]
				</p>
				<div class='flex flex-wrap gap-2'>
					<TopicChip topic='Null-Shot Prompting' />
					<TopicChip topic='Hallucination' />
					<TopicChip topic='Large Language Models' />
					<TopicChip topic='LLM Evaluation' />
				</div>
			</li>
			<li>
				<p>
					Siyuan Chen, <strong>Pittawat Taveekitworachai</strong>, Yi Xia,
					Xiaoxu Li, Mustafa Can Gursesli, Antonio Lanata, Andrea Guazzini, and
					Ruck Thawonmas, "Don't Do That! Reverse Role Prompting Helps Large
					Language Models Stay in Personality Traits." <em>Accepted at</em>
					<a href='https://icids2024.ardin.online' target='_blank'
						>2024 International Conference on Interactive Digital Storytelling</a
					>. 2024.
				</p>
				<div class='flex flex-wrap gap-2'>
					<TopicChip topic='Role Prompting' />
					<TopicChip topic='Reverse Role Prompting' />
					<TopicChip topic='Large Language Models' />
					<TopicChip topic='Game Story Generation' />
					<TopicChip topic='Biases' />
					<TopicChip topic='LLM Evaluation' />
				</div>
			</li>
			<li>
				<p>
					Kantinan Plupattanakit, Pratch Suntichaikul, <strong
						>Pittawat Taveekitworachai</strong
					>, Ruck Thawonmas, Jeremy White, Kingkarn Sookhanaphibarn, and Worawat
					Choensawat, "LLMs in Eduverse: LLM-Integrated English Educational Game
					in Metaverse." <em>Accepted at</em>
					<a href='https://www.ieee-gcce.org/2024/index.html' target='_blank'
						>2024 IEEE Global Conference on Consumer Electronics (GCCE 2024)</a
					>. 2024.
				</p>
				<div class='flex flex-wrap gap-2'>
					<TopicChip topic='Large Language Models' />
					<TopicChip topic='Prompt Engineering' />
					<TopicChip topic='Metaverse' />
					<TopicChip topic='Serious Games (Education)' />
				</div>
			</li>
			<li>
				<p>
					<strong>Pittawat Taveekitworachai</strong>, Kantinan Plupattanakit,
					and Ruck Thawonmas "<a
						href='https://ieeexplore.ieee.org/document/10645609'
						target='_blank'
						>Assessing Inherent Biases Following Prompt Compression of Large
						Language Models for Game Story Generation</a
					>." 2024 IEEE Conference on Games (CoG). IEEE, 2024. [<a
						href='https://github.com/Pittawat2542/prompt-compression-biases'
						target='_blank'>Research artifacts</a
					>]
				</p>
				<div class='flex flex-wrap gap-2'>
					<TopicChip topic='Large Language Models' />
					<TopicChip topic='Prompt Engineering' />
					<TopicChip topic='Prompt Compression' />
					<TopicChip topic='Biases' />
					<TopicChip topic='Procedural Content Generation' />
					<TopicChip topic='Story Generation' />
					<TopicChip topic='LLM Evaluation' />
				</div>
			</li>
			<li>
				<p>
					<strong>Pittawat Taveekitworachai</strong>, Yi Xia, Pratch
					Suntichaikul, and Ruck Thawonmas "<a
						href='https://ieeexplore.ieee.org/document/10645646'
						target='_blank'
						>Towards LLM4PCG: A Preliminary Evaluation of Open-Weight Large
						Language Models Beyond ChatGPT4PCG</a
					>." 2024 IEEE Conference on Games (CoG). IEEE, 2024. [<a
						href='https://github.com/Pittawat2542/llm4pcg-python'
						target='_blank'>Research artifacts 1</a
					>, <a
						href='https://github.com/Pittawat2542/llm4pcg-experiment'
						target='_blank'>Research artifacts 2</a
					>]
				</p>
				<div class='flex flex-wrap gap-2'>
					<TopicChip topic='Large Language Models' />
					<TopicChip topic='Prompt Engineering' />
					<TopicChip topic='Procedural Content Generation' />
					<TopicChip topic='Level Generation' />
					<TopicChip topic='LLM Evaluation' />
				</div>
			</li>
			<li>
				<p>
					<strong>Pittawat Taveekitworachai</strong>, Febri Abdullah, Mury F.
					Dewantoro, Yi Xia, Pratch Suntichaikul, Ruck Thawonmas, Julian
					Togelius, and Jochen Renz. "<a
						href='https://ieeexplore.ieee.org/document/10645641'
						target='_blank'
						>ChatGPT4PCG 2 Competition: Prompt Engineering for Science Birds
						Level Generation</a
					>." 2024 IEEE Conference on Games (CoG). IEEE, 2024. [<a
						href='https://github.com/orgs/chatgpt4pcg/repositories'
						target='_blank'>Research artifacts</a
					>]
				</p>
				<div class='flex flex-wrap gap-2'>
					<TopicChip topic='Large Language Models' />
					<TopicChip topic='Prompt Engineering' />
					<TopicChip topic='Procedural Content Generation' />
					<TopicChip topic='Level Generation' />
					<TopicChip topic='LLM Evaluation' />
				</div>
			</li>
			<li>
				<p>
					Xiao You, <strong>Pittawat Taveekitworachai</strong>, Siyuan Chen,
					Mustafa Can Gursesli, Xiaoxu Li, Yi Xia and Ruck Thawonmas. "<a
						href='https://dl.acm.org/doi/10.1145/3649921.3656991'
						target='_blank'
						>Dungeons, Dragons, and Emotions: A Preliminary Study of Player
						Sentiment in LLM-driven TTRPGs</a
					>." Proceedings of the 19th International Conference on the
					Foundations of Digital Games. 2024.
				</p>
				<div class='flex flex-wrap gap-2'>
					<TopicChip topic='Large Language Models' />
					<TopicChip topic='LLM-Powered Games' />
					<TopicChip topic='Tabletop RPGs' />
					<TopicChip topic='Prompt Engineering' />
					<TopicChip topic='Peronsality Prompting' />
				</div>
			</li>
			<li>
				<p>
					<strong>Pittawat Taveekitworachai</strong>, Pratch Suntichaikul,
					Chakarida Nukoolkit, and Ruck Thawonmmas. "<a
						href='https://ieeexplore.ieee.org/document/10588799'
						target='_blank'
						>Speed Up! Cost-Effective Large Language Model for ADAS Via
						Knowledge Distillation</a
					>." Proceedings of the 2024 IEEE Intelligent Vehicles Symposium (IV
					2024). IEEE, 2024. [<a
						href='https://github.com/Pittawat2542/driving-assessment-distillation'
						target='_blank'>Research artifacts</a
					>]
				</p>
				<div class='flex flex-wrap gap-2'>
					<TopicChip topic='Large Language Models' />
					<TopicChip topic='Knowledge Distillation' />
					<TopicChip topic='Efficient LLMs' />
					<TopicChip topic='Prompt Engineering' />
					<TopicChip topic='Vector Database' />
					<TopicChip topic='Advanced Driver-Assistance System' />
					<TopicChip topic='LLM Evaluation' />
				</div>
			</li>
			<li>
				<p>
					<strong>Pittawat Taveekitworachai</strong>, Febri Abdullah, Mustafa
					Can Gursesli, Antonio Lanata, Andrea Guazzini, and Ruck Thawonmmas. "<a
						href='https://ieeexplore.ieee.org/document/10584130'
						target='_blank'
						>Prompt Evolution Through Examples for Large Language Models—A Case
						Study in Game Comment Toxicity Classification</a
					>." Proceedings of the 2024 IEEE International Workshop on Metrology
					for Industry 4.0 & IoT. IEEE, 2024. [<a
						href='https://github.com/Pittawat2542/pete-prompt-optimization'
						target='_blank'>Research artifacts</a
					>]
				</p>
				<div class='flex flex-wrap gap-2'>
					<TopicChip topic='Large Language Models' />
					<TopicChip topic='Prompt Engineering' />
					<TopicChip topic='Automatic Prompt Optimization' />
					<TopicChip topic='Errorful Learning' />
					<TopicChip topic='Evolutionary Computation' />
					<TopicChip topic='Toxicity Classification' />
					<TopicChip topic='LLM Evaluation' />
				</div>
			</li>
		</ol>
		<h3>2023</h3>
		<ol>
			<li>
				<p>
					<strong>Pittawat Taveekitworachai</strong>
					and Ruck Thawonmas. "<a
						href='https://dl.acm.org/doi/abs/10.1145/3628454.3628456'
						target='_blank'
						>Enhancing Novelty in ChatGPT Responses: Incorporating Random Word
						Brainstorming</a
					>." Proceedings of the 13th International Conference on Advances in
					Information Technology. 2023. [<a
						href='https://github.com/Pittawat2542/chatgpt-idea-random-words'
						target='_blank'>Research artifacts</a
					>]
				</p>
				<div class='flex flex-wrap gap-2'>
					<TopicChip topic='Large Language Models' />
					<TopicChip topic='Prompt Engineering' />
					<TopicChip topic='Creavitity in LLMs' />
					<TopicChip topic='Random Word Brainstorming' />
				</div>
			</li>
			<li>
				<p>
					Chollakorn Nimpattanavong, <strong>Pittawat Taveekitworachai</strong>,
					Ibrahim Khan, Thai Van Nguyen, Ruck Thawonmas, Worawat Choensawat, and
					Kingkarn Sookhanaphibarn. "<a
						href='https://dl.acm.org/doi/abs/10.1145/3628454.3629551'
						target='_blank'
						>Am I Fighting Well? Fighting Game Commentary Generation With
						ChatGPT</a
					>." Proceedings of the 13th International Conference on Advances in
					Information Technology. 2023. [<a
						href='https://github.com/Pittawat2542/chatgpt-game-comment'
						target='_blank'>Research artifacts</a
					>]
				</p>
				<div class='flex flex-wrap gap-2'>
					<TopicChip topic='Large Language Models' />
					<TopicChip topic='LLM Evaluation' />
					<TopicChip topic='Prompt Engineering' />
					<TopicChip topic='Game Commentary Generation' />
				</div>
			</li>
			<li>
				<p>
					<strong>Pittawat Taveekitworachai</strong>, Febri Abdullah, Mury F.
					Dewantoro, Ruck Thawonmas, Julian Togelius, and Jochen Renz. "<a
						href='https://ieeexplore.ieee.org/abstract/document/10333206'
						target='_blank'
						>ChatGPT4PCG Competition: Character-like Level Generation for
						Science Birds</a
					>." 2023 IEEE Conference on Games (CoG). IEEE, 2023. [<a
						href='https://github.com/orgs/chatgpt4pcg/repositories'
						target='_blank'>Research artifacts</a
					>]
				</p>
				<div class='flex flex-wrap gap-2'>
					<TopicChip topic='Large Language Models' />
					<TopicChip topic='Prompt Engineering' />
					<TopicChip topic='Procedural Content Generation' />
					<TopicChip topic='Level Generation' />
					<TopicChip topic='LLM Evaluation' />
				</div>
			</li>
			<li>
				<p>
					<strong>Pittawat Taveekitworachai</strong>, Febri Abdullah, Mustafa
					Can Gursesli, Mury F. Dewantoro, Siyuan Chen, Antonio Lanata, Andrea
					Guazzini, and Ruck Thawonmmas. "<a
						href='https://link.springer.com/chapter/10.1007/978-3-031-47658-7_26'
						target='_blank'
						>What Is Waiting for Us at the End? Inherent Biases of Game Story
						Endings in Large Language Models</a
					>." International Conference on Interactive Digital Storytelling.
					Cham: Springer Nature Switzerland, 2023. [<a
						href='https://github.com/Pittawat2542/llms-story-generation-ending-biases'
						target='_blank'>Research artifacts</a
					>]
				</p>
				<div class='flex flex-wrap gap-2'>
					<TopicChip topic='Large Language Models' />
					<TopicChip topic='Biases in LLMs' />
					<TopicChip topic='Procedural Content Generation' />
					<TopicChip topic='Story Generation' />
					<TopicChip topic='LLM Evaluation' />
					<TopicChip topic='Sentiment Analysis' />
				</div>
			</li>
			<li>
				<p>
					<strong>Pittawat Taveekitworachai</strong>, Febri Abdullah, Mustafa
					Can Gursesli, Mury F. Dewantoro, Siyuan Chen, Antonio Lanata, Andrea
					Guazzini, and Ruck Thawonmmas. "<a
						href='https://link.springer.com/chapter/10.1007/978-3-031-47658-7_27'
						target='_blank'
						>Breaking bad: Unraveling Influences and Risks of User Inputs to
						ChatGPT for Game Story Generation</a
					>." International Conference on Interactive Digital Storytelling.
					Cham: Springer Nature Switzerland, 2023. [<a
						href='https://github.com/Pittawat2542/chatgpt-words-influence-risks'
						target='_blank'>Research artifacts</a
					>]
				</p>
				<div class='flex flex-wrap gap-2'>
					<TopicChip topic='Large Language Models' />
					<TopicChip topic='Risks in LLMs' />
					<TopicChip topic='Procedural Content Generation' />
					<TopicChip topic='Story Generation' />
					<TopicChip topic='Adversarial Prompting' />
					<TopicChip topic='LLM Evaluation' />
					<TopicChip topic='Sentiment Analysis' />
				</div>
			</li>
			<li>
				<p>
					<u>Mustafa Can Gursesli</u>, <u
						><strong>Pittawat Taveekitworachai</strong></u
					>, Febri Abdullah, Mury F. Dewantoro, Antonio Lanata, Andrea Guazzini,
					and Ruck Thawonmmas. "<a
						href='https://link.springer.com/chapter/10.1007/978-3-031-47658-7_16'
						target='_blank'
						>The Chronicles of ChatGPT: Generating and Evaluating Visual Novel
						Narratives on Climate Change Through ChatGPT</a
					>." International Conference on Interactive Digital Storytelling.
					Cham: Springer Nature Switzerland, 2023. [<a
						href='https://github.com/Pittawat2542/chatgpt-visual-novel-evaluation'
						target='_blank'>Research artifacts</a
					>]
				</p>
				<div class='flex flex-wrap gap-2'>
					<TopicChip topic='Large Language Models' />
					<TopicChip topic='Prompt Engineering' />
					<TopicChip topic='Procedural Content Generation' />
					<TopicChip topic='Story Generation' />
					<TopicChip topic='LLM Evaluation' />
					<TopicChip topic='Visual Novels' />
				</div>
			</li>
			<li>
				<p>
					Xiaoxu Li, Xiao You, Siyuan Chen, <strong
						>Pittawat Taveekitworachai</strong
					>, and Ruck Thawonmmas. "<a
						href='https://link.springer.com/chapter/10.1007/978-3-031-47658-7_20'
						target='_blank'
						>Analyzing Audience Comments: Improving Interactive Narrative with
						ChatGPT</a
					>." International Conference on Interactive Digital Storytelling.
					Cham: Springer Nature Switzerland, 2023.
				</p>
				<div class='flex flex-wrap gap-2'>
					<TopicChip topic='Large Language Models' />
					<TopicChip topic='Audience Participation Games' />
					<TopicChip topic='Text Classification' />
					<TopicChip topic='LLM Evaluation' />
				</div>
			</li>
			<li>
				<p>
					<strong>Pittawat Taveekitworachai</strong>, Mustafa Can Gursesli,
					Febri Abdullah, Siyuan Chen, Federico Cala, Andrea Guazzini, Antonio
					Lanata, and Ruck Thawonmmas. "<a
						href='https://ieeexplore.ieee.org/abstract/document/10375663'
						target='_blank'
						>Journey of ChatGPT from Prompts to Stories in Games: the Positive,
						the Negative, and the Neutral</a
					>." 2023 IEEE 13th International Conference on Consumer
					Electronics-Berlin (ICCE-Berlin). IEEE, 2023. [<a
						href='https://github.com/Pittawat2542/chatgpt-game-story-generation'
						target='_blank'>Research artifacts</a
					>]
				</p>
				<div class='flex flex-wrap gap-2'>
					<TopicChip topic='Large Language Models' />
					<TopicChip topic='Biases in LLMs' />
					<TopicChip topic='Procedural Content Generation' />
					<TopicChip topic='Story Generation' />
					<TopicChip topic='LLM Evaluation' />
					<TopicChip topic='Sentiment Analysis' />
				</div>
			</li>
		</ol>
		<h3>2022</h3>
		<ol>
			<li>
				<p>
					<strong>Pittawat Taveekitworachai</strong>, and Jonathan H. Chan. "<a
						href='https://ieeexplore.ieee.org/abstract/document/9910314'
						target='_blank'>Krathu-500: Post-Comments Thai Corpus</a
					>." 2022 Research, Invention, and Innovation Congress: Innovative
					Electricals and Electronics (RI2C). IEEE, 2022. [<a
						href='https://github.com/Pittawat2542/krathu-500'
						target='_blank'>Research artifacts</a
					>]
				</p>
				<div class='flex flex-wrap gap-2'>
					<TopicChip topic='Natural Language Processing Datasets' />
					<TopicChip topic='Thai' />
					<TopicChip topic='Sentiment Analysis' />
				</div>
			</li>
		</ol>
		<Divider />
		<h2>Preprint</h2>
		<h3>2024</h3>
		<ol>
			<li>
				<p>
					<strong>Pittawat Taveekitworachai</strong>, Chollakorn Nimpattanavong,
					Mustafa Can Gursesli, Antonio Lanata, Andrea Guazzini, Ruck Thawonmas.
					"<a
						href='https://arxiv.org/abs/2411.14672'
						target='_blank'>Multiverse of Greatness: Generating Story Branches with LLMs</a
					>." arXiv, 2024. [<a
						href='https://github.com/orgs/multiverse-of-greatness/repositories'
						target='_blank'>Research artifacts</a
					>]
				</p>
				<div class='flex flex-wrap gap-2'>
					<TopicChip topic='Large Language Models' />
					<TopicChip topic='Prompt Engineering' />
					<TopicChip topic='Visual Novels' />
					<TopicChip topic='Game Generation' />
				</div>
			</li>
		</ol>
		<Divider />
	</section>
</BaseLayout>
