---
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import BaseLayout from '../layouts/BaseLayout.astro';
import TalksExplorer from '../components/TalksExplorer.tsx';
import talks from '../content/talks/talks.json';
import ThemedPageHero from '../components/ThemedPageHero.astro';
import type { Talk } from '../types';
---

<BaseLayout title={`${SITE_TITLE} - Talks`} description={SITE_DESCRIPTION}>
  <ThemedPageHero 
    title="Talks" 
    subtitle="Presentations, lectures, and workshops I've delivered at conferences and events." 
    page="talks" 
  />
  <section class='mx-auto max-w-6xl mt-4'>
    <TalksExplorer client:load items={talks} />
  </section>
</BaseLayout>
