<footer
	class='bg-[color:var(--black-nav)] text-[color:var(--white)] text-center py-12 flex flex-col justify-center'
>
	<p class="mb-4">&copy; 2024 Pittawat Taveekitworachai. All rights reserved.</p>
	<a
		href='https://webring.wonderful.software#petepittawat.dev'
		title='วงแหวนเว็บ'
	>
		<img
			alt='วงแหวนเว็บ'
			class='w-8 h-8 mx-auto hover:-translate-y-1 transition-transform duration-300 ease-in-out'
			src='https://webring.wonderful.software/webring.white.svg'
		/>
	</a>
</footer>
