---
const year = new Date().getFullYear();
---
<footer
	class='bg-[color:var(--black-nav)] text-[color:var(--white)] text-center py-10 flex flex-col justify-center border-t border-[color:var(--white)]/10'
>
    <p class="mb-4 opacity-80">&copy; 2020-{year} Pittawat Taveekitworachai. All rights reserved.</p>
    <a
        href='https://webring.wonderful.software#petepittawat.dev'
        title='วงแหวนเว็บ'
        aria-label='Thai Webring (วงแหวนเว็บ)'
        rel="noopener noreferrer"
        target="_blank"
        class="inline-block"
    >
        <img
            alt='วงแหวนเว็บ'
            class='webring-icon w-8 h-8 mx-auto hover:-translate-y-1 transition-transform duration-300 ease-in-out'
            src='https://webring.wonderful.software/webring.white.svg'
        />
    </a>
</footer>
