---
const { topic } = Astro.props;
---

<div
	class='rounded-lg px-2 py-1 border text-sm font-semibold inline-block md:mr-1 mb-1 border-[color:var(--white)]/30 text-[color:var(--white)]/80'
>
	{topic}
</div>
